/* ---------- CSS stylesheet for mobile - max-width 768px ---------- */

/* -------- FORMS -------- */

form {
    width: 90%;
}

form div {
    display: block;
}

form input {
    width: 100%;
    margin-top: 10px;
}

input[type=submit] {
    max-width: 100%;
    margin: 0;
}

.error-message {
    text-align: left;
}

/* -------- TRANSACTIONS -------- */

.hide-on-mobile {
    display: none;
}

.charts {
    overflow: hidden;
    overflow-x: scroll;
}

.charts::-webkit-scrollbar {
    display: none;
}

.charts div {
    width: 100%;
    flex-shrink: 0;
    flex-basis: 100%;
}

.mobile-row > div {
    margin-bottom: 10px;
}

.mobile-row-show {
    display: table-row;
}