/* ---------- CSS stylesheet for mobile - max-width 768px ---------- */

/* -------- FORMS -------- */

form {
    width: 90%;
}

form div {
    display: block;
}

form input {
    width: 100%;
    margin-top: 10px;
}

input[type=submit] {
    max-width: 100%;
    margin: 0;
}

/* -------- TRANSACTIONS -------- */

.hide-on-mobile {
    display: none;
}